.welcome-title {
    text-transform: uppercase;
}

.welcome .col {
    text-align: center;
}

.welcome .col:hover {
    i {
        background: #eb4947;
    }

    div h3 {
        color: #eb4947;
    }
}

.welcome .col i {
    background: #222;
    color: white;
    font-size: 36px;
    padding: 30px;
    border-radius: 50%;
}

.card-body {
    display: none;
}

.card:hover {
    .card-body {
        display: block;
    }
    img {
        background: #eb4947;
        opacity: .7;
    }
    background: #eb4947;
    opacity: .8;
}

@media (min-width: 768px) {
    .logo {
        margin: 0 15vw;
    }
    
    .active:hover {
        background: #eb4947;
    }
    
    nav {
        height: 90px;
    }
    
    .nav-item {
        padding: 25px 0 25px 0;
        display: inline-block;
    }
    
    .dropdown:hover .dropdown-menu {
        display: inline-block;
    }
    
    .dropdown-item:hover {
        background: #eb4947;
    }
}

@media (max-width: 767px) {
    .logo {
        margin: 0;
    }

    nav {
        height: 100%;
    }
}